@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<!--coding for the heading shah restaurant -->
<div class="text-center">
    <h1 class="display-4">SHAH RESTAURANT</h1>

</div>
<br />
<br />
<!-- heading image coding -->

<div class="myimg">
    <img src="~/lib/Images/logo.jpg" alt="logo" width="1200" height="400" />
</div>
<br />
<br />
<!-- coding for iframe and embed youtude vedio-->
<iframe width="1200" height="345" src="https://www.youtube.com/embed/S7BnzL0ZFsc?autoplay=1&mute=1">
</iframe>
<br />
<br />
 <!--background color coding -->
<body style="background-color:powderblue;">

    <div class="myimg1">
        <img src="~/lib/Images/butterchicken.webp" alt="butterchicken" width="560" height="460" />
    </div>
    <!--heading and paragaraph -->
    <br />
    <br />
    <!--paragraph for the home page -->
    <div>
        <h1> BUTTER CHICKEN </h1>
        <br />
        <p><i><b>Butter chicken curry or murgh makhani  is a curry of chicken in a spiced tomato, butter and cream sauce.<br />Chicken is marinated in curry for several hours in a mixture of lemon juice, yogurt, Kashmiri red chili, salt, garam masala and ginger garlic paste.<br /> It originated in India as a curry.</b></i></p>
    </div>
    <br />
    <br />
    <div class="myimg2">
        <img src="~/lib/Images/53097626.webp" alt="dalmakhani" width="560" height="460" />

    </div>
    <br />
    <br />

    <div>
        <h1> DAL MAKHANI </h1>
        <br />
        <p><i><b> Dal makhani is also  called "Buttery lentils" is a restaurant based modern dish first time it is originating from the Moti Mahal restaurant in New Delhi, India.<br /> The primary ingredients are whole black lentils , red kidney beans , butter and cream.<br /> The dish gets its richness from the use of cream or butter, but it can also be achieved with yogurt, ghee, milk or no dairy.</b></i></p>
    </div>
    <br />
    <br />
</body>