
@page
@model SHAH_RESTAURANT.Pages.Orders.IndexModel

@{
    ViewData["Title"] = "Index";
}
<!--heading for the aboutus page-->
<div class="text-center">
    <h1 class="display-4">SHAH RESTAURANT</h1>

</div>
<!--img coding -->
<div class="myimg">
    <img src="~/lib/Images/logo.jpg" alt="logo" width="1200" height="400" />
</div>
<br />
<br />
<!--paragraphs -->
<div class="att">

    <p>
    THE REBEL ALLIANCE

    THE REBEL ALLIANCE

    Over the years, Carl and Susanna have opened up 2 more establishments that form part of the extended shah restaurant Family.
    Hamilton has a lot to offer in the hospitality scene but we want to offer diversity, high quality, but above all, dedicated staff whose knowledge and service will enhance your visit to our bars and restaurants.
    Another aspect that we want to bring to Hamilton’s hospitality is independent outlets that are not bound by restrictions from major suppliers or producers, but instead offer handpicked beverages and house made food and snacks, always with the environment in mind when we select our products and suppliers.
    Together, Craft, Sage and Gothenburg form the ‘Rebel Alliance’.



    SUBSCRIBE NEWSLETTER

    CRAFT

    CRAFT is a beer bar located at the old Gothenburg location on Hood Street. Wanting to stay independent as opposed to being controlled by the major breweries, Craft specialises in bringing you the best craft beer and cider from around the world and the country. Craft has 15 taps of ever changing craft brews, showcasing a fantastic range for beer connoisseurs and beginners alike. A passionate and knowledgeable team are on hand to find the perfect beer for you.
    Delicious snack food and sharing plates from the Sage pop up kitchen are on the menu. Our weekly Wednesday quiz nights are popular, as well as the many new brew launches and beer related events that pop up on a weekly basis.
    Follow this link to visit to the Craft Facebook page for more information and see the beer that is on tap today!



    VISIT CRAFT

    SAGE

    Lani, formerly of Chim Choo Ree and shah restaurant, has set up his own kitchen and it will be a new addition to the Hamilton dining scene as soon as the location is finalised. This location is yet to be determined but the new restaurant is hopefully set to open in late 2020 or early 2021.
    At Craft we didn’t want to wait that long for Lani’s food to become available, so we teamed up to bring Hamilton a new place to go for excellent food and of course the world's best beers. Sage has now taken over the Craft kitchen and is offering an ever changing selection of small and large plates in a casual setting.
    To see what Sage is up to, follow on Instagram on sagerestaurant.hamilton or for enquiries, email on eat@sagerestaurant.co.nz



    VISIT SAGE
    OUR PEOPLE


    CODY
    HEAD CHEF
    Head Chef Cody joined the team just as we moved to our new location by the river. He leads our kitchen team with determination and by example. Cody is instrumental to shah restaurant success and his dedication to our business is highly valued.



    REBECCA
    SOUS CHEF
    Rebecca joined the team in June 2017 and has taken on the role of leading the kitchen team alongside Cody. She is a ray of sunshine who works extremely hard. Rebecca is a great team player who loves working with the team to develop new specials and menu items.
        <br />
        <br />
        <!--iframe coding with embed youtube vedio-->
        <iframe width="1200" height="345"  src="https://www.youtube.com/embed/T59FPV3KFOA?autoplay=1&mute=1">
        </iframe>
        <br />
        <br />


    shah restaurant
    FAMILY
    We wouldn’t be anything at all without our fantastic team. Day after day they do their best to provide our customers with the best experience possible. We value their contribution to our restaurant very highly and with ongoing training and development they are always improving their skills and service.



    LIANE
    ACCOUNTS MARKETING MANAGER
    Liane who joined us in March 2016 takes care of everything accounts, administration and advertisement related, and keeps us all on track and in line. She comes from many years of experience running restaurants in Auckland and brings a valuable point of view to the table.



    SARA
    RESTAURANT MANAGER
    Sara started her shah restaurant career in 2011 and has worked with us longer than anyone else on the team. She is more often than not the friendly face that greets you at the door and takes you to your seat. Her dedication and knowledge is priceless to us.



    SIOBHAN
    RESTAURANT MANAGER
    No doubt you have met our lovely Irish, especially if you have attended an event in our private function room as she is our designated functions manager. Siobhan is loved by customers and staff alike and is a fantastic asset to our team, ensuring each event is personalised and one to remember.



    CARL
    OWNER OPERATOR
    Carl has built and project managed most of what you see around you, as well as at Craft and Wonder Horse. He is passionate about food and beverage, in particular craft beer. His newest project is to import craft beer from Sweden, which you can enjoy by the bottle and on tap in our venues.



    SUSANNA
    OWNER OPERATOR
    Susanna is from Gothenburg in Sweden and settled in New Zealand in 2009. Together with Carl she had the vision of bringing what we now know as Gothenburg Restaurant to Hamilton. Susanna is passionate about customer service and is proud of the devoted team who make up the Gothenburg Family.

    JOIN OUR
    TEAM
    If you are passionate about food, beverage and service, love having fun while you are working and believe in team work, contact us to find out if there are any positions available. Please introduce yourself in a cover letter and include your CV with references. We look forward to hearing from you!
    EMAIL US
    SOCIAL RESPONSIBILITY
    ENVIRONMENT

    Taking care of the environment is something that we are constantly keeping in mind and promoting at Gothenburg. Using high quality ingredients is a big part of that, as well as looking at all our processes and aiming to minimize the impact that our business has on the environment.
    We feel strongly about the welfare of animals and taking care of our waste in a responsible way. We use fair trade, free range and organic ingredients where ever possible and source locally as often as we can.

    MONTHLY DONATION

    Each month Gothenburg makes a donation to charity. Sometimes we make the donation in the form of a payment to a help organisation, other times we donate vouchers to good causes, support our staff or friends if they partake in any charitable events, or contribute with food and labour to charitable dinners and fundraisers.
    Gothenburg recently added its annual support to the 'Special Children's Christmas Party. .

 </p>
</div>



