@page
@model SHAH_RESTAURANT.Pages.Menus.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Menu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Menu.MenuID" class="control-label"></label>
                <input asp-for="Menu.MenuID" class="form-control" />
                <span asp-validation-for="Menu.MenuID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.DishName" class="control-label"></label>
                <input asp-for="Menu.DishName" class="form-control" />
                <span asp-validation-for="Menu.DishName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.DitearyRestriction" class="control-label"></label>
                <input asp-for="Menu.DitearyRestriction" class="form-control" />
                <span asp-validation-for="Menu.DitearyRestriction" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Price" class="control-label"></label>
                <input asp-for="Menu.Price" class="form-control" />
                <span asp-validation-for="Menu.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Menu.Rating" class="control-label"></label>
                <input asp-for="Menu.Rating" class="form-control" />
                <span asp-validation-for="Menu.Rating" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
